In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("Travel.csv")

In [4]:
df

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

# A.  What is the distribution of customerages, and how does age relate to product purchase 
(ProdTaken)?

In [13]:
customer_ages =df['Age']

In [14]:
customer_ages

0       41.0
1       49.0
2       37.0
3       33.0
4        NaN
        ...
4883    49.0
4884    28.0
4885    52.0
4886    19.0
4887    36.0
Name: Age, Length: 4888, dtype: float64

# Age distribution

In [17]:
age_distribution = df['Age'].value_counts()

In [18]:
age_distribution

Age
35.0    237
36.0    231
34.0    211
31.0    203
30.0    199
32.0    197
33.0    189
37.0    185
29.0    178
38.0    176
41.0    155
39.0    150
28.0    147
40.0    146
42.0    142
27.0    138
43.0    130
46.0    121
45.0    116
26.0    106
44.0    105
51.0     90
47.0     88
50.0     86
25.0     74
52.0     68
53.0     66
48.0     65
49.0     65
55.0     64
54.0     61
56.0     58
24.0     56
22.0     46
23.0     46
59.0     44
21.0     41
20.0     38
19.0     32
58.0     31
57.0     29
60.0     29
18.0     14
61.0      9
Name: count, dtype: int64

# Age vs ProductTaken

In [19]:
age_vs_product_taken = df.groupby('Age')['ProdTaken'].mean()

In [20]:
age_vs_product_taken

Age
18.0    0.571429
19.0    0.656250
20.0    0.657895
21.0    0.560976
22.0    0.326087
23.0    0.282609
24.0    0.321429
25.0    0.270270
26.0    0.349057
27.0    0.217391
28.0    0.176871
29.0    0.320225
30.0    0.241206
31.0    0.201970
32.0    0.203046
33.0    0.211640
34.0    0.208531
35.0    0.143460
36.0    0.116883
37.0    0.129730
38.0    0.085227
39.0    0.093333
40.0    0.157534
41.0    0.154839
42.0    0.140845
43.0    0.076923
44.0    0.161905
45.0    0.155172
46.0    0.090909
47.0    0.136364
48.0    0.169231
49.0    0.138462
50.0    0.139535
51.0    0.188889
52.0    0.205882
53.0    0.121212
54.0    0.032787
55.0    0.109375
56.0    0.206897
57.0    0.172414
58.0    0.354839
59.0    0.272727
60.0    0.034483
61.0    0.000000
Name: ProdTaken, dtype: float64

# B. Influence of type of contact on likelihood of purchasing a travel product

In [21]:
contact_vs_product_taken = df.groupby('TypeofContact')['ProdTaken'].mean()

In [22]:
contact_vs_product_taken

TypeofContact
Company Invited    0.218464
Self Enquiry       0.176249
Name: ProdTaken, dtype: float64

# C. Correlation between city tier and monthly income

In [23]:
correlation_city_tier_income = df['CityTier'].corr(df['MonthlyIncome'])

In [24]:
correlation_city_tier_income

0.05181691698577299

# D. Average duration of pitch for customers who purchased a product vs those who did not

In [25]:
avg_duration_pitch = df.groupby('ProdTaken')['DurationOfPitch'].mean()

In [26]:
avg_duration_pitch

ProdTaken
0    15.169325
1    16.873143
Name: DurationOfPitch, dtype: float64

#  E. Occupation types distribution and likelihood of purchasing a travel product

In [27]:
occupation_distribution = df['Occupation'].value_counts()

In [28]:
occupation_distribution

Occupation
Salaried          2368
Small Business    2084
Large Business     434
Free Lancer          2
Name: count, dtype: int64

In [29]:
occupation_vs_product_taken = df.groupby('Occupation')['ProdTaken'].mean()

In [30]:
occupation_vs_product_taken

Occupation
Free Lancer       1.000000
Large Business    0.276498
Salaried          0.174831
Small Business    0.184261
Name: ProdTaken, dtype: float64

# F. Gender-based preferences for product pitched

In [31]:
gender_preferences = df.groupby('Gender')['ProductPitched'].value_counts()

In [32]:
gender_preferences

Gender   ProductPitched
Fe Male  Deluxe              83
         Standard            63
         Super Deluxe         5
         Basic                4
Female   Basic              676
         Deluxe             641
         Standard           263
         Super Deluxe       155
         King                82
Male     Basic             1162
         Deluxe            1008
         Standard           416
         Super Deluxe       182
         King               148
Name: count, dtype: int64

# G. Relationship between number of trips and likelihood to purchase a new travel product

In [33]:
trip_vs_product_taken = df.groupby('NumberOfTrips')['ProdTaken'].mean()

In [34]:
trip_vs_product_taken

NumberOfTrips
1.0     0.180645
2.0     0.204235
3.0     0.201112
4.0     0.127615
5.0     0.135371
6.0     0.198758
7.0     0.284404
8.0     0.276190
19.0    1.000000
20.0    1.000000
21.0    0.000000
22.0    0.000000
Name: ProdTaken, dtype: float64

#  H. Correlation between having a passport and number of trips or likelihood of purchasing a travel product

In [35]:
passport_vs_trips = df['Passport'].corr(df['NumberOfTrips'])

In [36]:
passport_vs_trips

0.012948643307955305

In [37]:
passport_vs_product_taken = df['Passport'].corr(df['ProdTaken'])

In [38]:
passport_vs_product_taken

0.2608440322159342

#  I. Satisfaction with pitch and influence on product purchase

In [39]:
satisfaction_vs_product_taken = df.groupby('PitchSatisfactionScore')['ProdTaken'].mean()

In [40]:
satisfaction_vs_product_taken

PitchSatisfactionScore
1    0.152866
2    0.150171
3    0.213802
4    0.177632
5    0.216495
Name: ProdTaken, dtype: float64

# J. Impact of number of children on travel product purchases

In [41]:
children_vs_product_taken = df.groupby('NumberOfChildrenVisiting')['ProdTaken'].mean()

In [42]:
children_vs_product_taken

NumberOfChildrenVisiting
0.0    0.186691
1.0    0.188462
2.0    0.189513
3.0    0.203077
Name: ProdTaken, dtype: float64

# K. Gender preferences for product types pitched

In [43]:
gender_preferences_product_pitched = df.groupby('Gender')['ProductPitched'].value_counts()

In [44]:
gender_preferences_product_pitched

Gender   ProductPitched
Fe Male  Deluxe              83
         Standard            63
         Super Deluxe         5
         Basic                4
Female   Basic              676
         Deluxe             641
         Standard           263
         Super Deluxe       155
         King                82
Male     Basic             1162
         Deluxe            1008
         Standard           416
         Super Deluxe       182
         King               148
Name: count, dtype: int64

#  L. Impact of marital status on travel preferences

In [45]:
marital_status_vs_product_taken = df.groupby('MaritalStatus')['ProdTaken'].mean()

In [46]:
marital_status_vs_product_taken

MaritalStatus
Divorced     0.130526
Married      0.139316
Single       0.331878
Unmarried    0.243402
Name: ProdTaken, dtype: float64

# M. Relationship between number of children and travel product interest

In [48]:
children_vs_product_interest = df.groupby('NumberOfChildrenVisiting')['ProdTaken'].mean()

In [49]:
children_vs_product_interest

NumberOfChildrenVisiting
0.0    0.186691
1.0    0.188462
2.0    0.189513
3.0    0.203077
Name: ProdTaken, dtype: float64

#  N. Influence of owning a car on travel decisions

In [50]:
own_car_vs_trips = df['OwnCar'].corr(df['NumberOfTrips'])

In [51]:
own_car_vs_trips

-0.011824686371922794

In [52]:
own_car_vs_product_taken = df['OwnCar'].corr(df['ProdTaken'])

In [53]:
own_car_vs_product_taken

-0.011508116583710728

#  O. Income level and product choice

In [54]:
income_vs_product_choice = df.groupby('MonthlyIncome')['ProductPitched'].value_counts()

In [55]:
income_vs_product_choice

MonthlyIncome  ProductPitched
1000.0         Deluxe            1
4678.0         Deluxe            1
16009.0        Basic             2
16051.0        Basic             2
16052.0        Basic             2
                                ..
38621.0        King              2
38651.0        King              2
38677.0        King              2
95000.0        Basic             1
98678.0        Basic             1
Name: count, Length: 2680, dtype: int64